In [47]:
import os
import json
from google.cloud import dialogflow
from google.api_core.exceptions import InvalidArgument

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'private_key.json'

DIALOGFLOW_PROJECT_ID = 'receptionist-djjv'
DIALOGFLOW_LANGUAGE_CODE = 'en'
SESSION_ID = 'me'

In [68]:
text_to_be_analyzed = input("User: ")

In [69]:
session_client = dialogflow.SessionsClient()
session = session_client.session_path(DIALOGFLOW_PROJECT_ID, SESSION_ID)
text_input = dialogflow.TextInput(text=text_to_be_analyzed, language_code=DIALOGFLOW_LANGUAGE_CODE)
query_input = dialogflow.QueryInput(text=text_input)

In [70]:
try:
    response = session_client.detect_intent(session=session, query_input=query_input)
except InvalidArgument:
    raise

In [71]:
response.query_result.fulfillment_text

'Alright Nihal, here is your appointment details. Do you confirm that everything is correct?| Nihal, nihal.antony@gmail.com, Paul, 2022-03-10T12:00:00-05:00, 2022-03-09T16:40:00-05:00, Radiologist'

In [73]:
response.query_result.intent.display_name

'appointment.book.details'

In [74]:
response_text = response.query_result.fulfillment_text

In [1]:
from dialogflow import get_response

In [ ]:
bot_text = "Something"
user_text = "Something"
while user_text!="end":
    user_text = input("User: ")
    if user_text=="end":
        break
    response = get_response(user_text)
    temp_text = response.query_result.fulfillment_text
    if len(temp_text)>10 and temp_text[:8] == "Thank you":
        bot_text,details = extract_details(response.query_result.fulfillment_text)
        show_appointment_details(details)
    else:
        bot_text = response.query_result.fulfillment_text
    
    print("Bot text: ",bot_text)

In [7]:
import pandas as pd

df = pd.read_excel('doclist.xlsx')

In [14]:
df[df['Specialization']=='Cardiologist'].head()

,Name,Specialization,Address,City,Phone number,Time,Rating
330,Dr S R Ramangoudar,Cardiologist,"Malapur Road ,Maratha colony",Dharwad,8.976459e+09,10:00 am- 5:00 pm,4.1
331,Sdm Narayan Hrudayalaya,Cardiologist,Manjushree Nagar Sattur,Dharwad,7.668457e+09,10:00 am- 5:00 pm,3.9
332,Dr Suresh Patted,Cardiologist,Dharwad College Road,Dharwad,7.385321e+09,10:00 am- 5:00 pm,5.0
333,Dr Shakapur Chaudappa,Cardiologist,Sdm Narayan Heart Center Sattur,Dharwad,9.975425e+09,10:00 am- 5:00 pm,3.5
334,Dr Maheshwar D Honalli,Cardiologist,Sdm Narayan Heart Center Sattur,Dharwad,7.745398e+09,10:00 am- 5:00 pm,5.0

In [18]:
dataset = pd.DataFrame(columns=['Name','Specialization','Branch','Weekly schedule','Timing'])

In [19]:
dataset = pd.read_excel('Doctor_database.xlsx')

In [22]:
dataset[dataset['Specialization'] == 'Cardiologist'].head()

,Name,Specialization,Branch,Weekly Schedule,Timing
9,Chris Paul,Cardiologist,The Ottawa Hospital Riverside Campus,Monday to Friday,9AM to 9PM
10,Steven Philip,Cardiologist,The Ottawa Hospital General Campus,Saturday to Monday,10AM to 5PM
11,Michael Scott,Cardiologist,The Ottawa Hospital Civic Campus,Monday to Friday,8AM to 11PM
12,Jordan Kent,Cardiologist,Montfort Hospital,Monday to Friday,9AM to 9PM
13,Chris Paul,Cardiologist,St Johns Hospital,Saturday to Monday,8AM to 11PM